<div class="text-center" style="margin-top: 3%;margin-bottom: 5%;">
  <button type="button" class="btn btn-success" (click)="open()">Grafik Oluştur</button>
</div>

<div #modal class="modal " id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h2 class="modal-title" id="modalLabelLarge" style="color: black">Grafik Oluştur</h2>

      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-3">
            Bilgi Türleri
            <hr>

            <div *ngFor="let option of getGraphicOptions()" class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"
                     (click)="selectedInformation(option)">
              <label class="form-check-label" for="flexRadioDefault">
                {{option.dataName}}
              </label>
            </div>

            <div style="margin-top: 10%;"> Grafik Türü</div>
            <hr>
            <div *ngFor="let type of graphicTypes" class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1"
                     (click)="selectedType(type)">
              <label class="form-check-label" for="flexRadioDefault1">
                {{type}}
              </label>
            </div>

            <button type="button" class="btn btn-default pull-right" (click)="addOption()" [disabled]='!conditionType'>
              Ekle
            </button>

          </div>

          <div class="col-md-9">

            <div *ngIf='!condition' style="margin-left: 10%;">
              <h2>Yeni Grafik oluştur</h2>
              <ul>
                <li>
                  <h4>İstediğiniz özellikleri kendi grafiğinize ekleyin.</h4>
                </li>

                <li>
                  <h4>Bilgilerinizi istediğiniz grafik türünde gösterin.</h4>
                </li>
              </ul>
              <div *ngIf='conditionType'>
                <div *ngIf='selectedGraphicInformation.selectedType=="scatter"'>
                  <h2>Scatter Grafik</h2>
                  <ul>
                    <li>
                      <h4>Scatter türü ile bilgileri noktasal olarak gösterin.</h4>
                    </li>
                  </ul>
                  <img src="https://www.w3schools.com/python/img_matplotlib_scatter.png" class="img-thumbnail"
                       style="width:50%">
                </div>
                <div *ngIf='selectedGraphicInformation.selectedType=="line"'>
                  <h2>Line Grafik</h2>
                  <ul>
                    <li>
                      <h4>Line türü ile bilgileri çizgisel olarak gösterin.</h4>
                    </li>
                  </ul>
                  <img src="https://images.edrawmax.com/images/knowledge/line-graph-1-what-is.jpg" class="img-thumbnail"
                       style="width:40%">
                </div>
                <div *ngIf='selectedGraphicInformation.selectedType=="bar"'>
                  <h2>Bar Grafik</h2>
                  <ul>
                    <li>
                      <h4>Bar türü ile bilgileri çubuk şeklinde gösterin.</h4>
                    </li>
                  </ul>
                  <img src="https://themexpert.b-cdn.net/images/xdocs/quix/elements/bar-chart/barChart3.png"
                       class="img-thumbnail" style="width:40%">
                </div>
              </div>
            </div>

            <div *ngIf='condition' class="chart-custom">
              <canvas baseChart [datasets]="newGraphicData" [labels]="newGraphicLabel" chartType="bar"></canvas>
            </div>

            <button *ngIf='condition' type="button" class="btn btn-danger pull-right" (click)="reset()">
              Sıfırla
            </button>

            <button *ngIf='condition' type="button" class="btn btn-success pull-right" (click)="save()"
                    style="margin-right: 3%;">
              Kaydet
            </button>

          </div>


        </div>
      </div>

    </div>

  </div>
