.backdrop {
    
    background: rgba(0, 0, 0, 0.75);
    
  }

  input.ng-invalid.ng-touched,
textarea.ng-invalid,select.ng-invalid.ng-touched{
    border: 1px solid red
}
.modal {
    overflow-y:auto;
  }
